.nav {
  display: flex;
  justify-content: space-evenly;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  background-color: tomato;
}
.nav a{
  padding: 10px ;
}
.nav a.link {
  color: dodgerblue;
  text-decoration: none;
}
.nav a.active {
  color: aquamarine;
}